<p style="text-align: center;"><span style="font-family: arial,helvetica,sans-serif; font-size: large;"><strong>Hello, Welcome to the DBD Anagrams Detector!</strong></span></p>
<p style="text-align: center;"><span style="font-family: arial,helvetica,sans-serif; font-size: small;"><strong>(Delayed, But Delivered Anagrams Detector)<br /></strong></span></p>
<p style="text-align: left;"><span style="text-decoration: underline;"><span style="font-family: arial,helvetica,sans-serif; font-size: medium;">Using it:</span></span></p>
<p style="text-align: left;"><span style="font-family: arial,helvetica,sans-serif; font-size: small;">In order to use the DBD Anagrams Detector you should enter with the two words or phrases you want to test and click the button "Test Words".</span></p>
<p style="text-align: left;"><span style="font-family: arial,helvetica,sans-serif; font-size: small;">You'll be redirected to a page with both words and the answer if they are anagrams. To see all the tries already made you click on "Database", or if you want to test some other words, click on "New Words".</span></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><span style="text-decoration: underline;"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">Knowing it:</span></span></p>
<p style="text-align: left;">&nbsp;<span style="font-family: arial,helvetica,sans-serif; font-size: small;">Description: It's a app made to test if two words (or phrases) are anagrams. What is an anagram? </span></p>
<p style="text-align: left;"><span style="font-family: arial,helvetica,sans-serif; font-size: small;">"A word or phrase formed by reordering the letters of another word or phrase, such as <em>satin</em> to <em>stain." Definition by thefreedictionary.com.</em></span></p>
<p style="text-align: left;"><span style="text-decoration: underline;"><span style="font-family: arial,helvetica,sans-serif; font-size: medium;">Developping it:</span></span></p>
<p style="text-align: left;"><span style="font-family: arial,helvetica,sans-serif; font-size: small;">The technology used to create this app was Ruby on Rails programming language, as well as PostgreSQL as database plataform. (Ruby version 2.1.2 and Rails 4.1.1). </span></p>
<p style="text-align: left;"><span style="font-family: arial,helvetica,sans-serif; font-size: small;">The support used by the developer was based on Ruby and Ruby on Rails documentation and on stackoverflow.com</span></p>
<ul>
<li><span style="font-family: arial,helvetica,sans-serif; font-size: small;"><cite class="_Od">https://www.ruby-lang.org/en/documentation ;<br /></cite></span></li>
<li><span style="font-family: arial,helvetica,sans-serif; font-size: small;"><cite class="_Od">rubyonrails.org/documentation/ ;</cite></span></li>
<li><span style="font-family: arial,helvetica,sans-serif; font-size: small;"><em>http://stackoverflow.com/</em> .</span></li>
</ul>
<p style="text-align: left;"><span style="font-family: arial,helvetica,sans-serif; font-size: small;">This app has been developed by Luciano Medeiros Marcelino as a part of a test proposed by Resultados Digitais.<br /></span></p>
<p style="text-align: left;"><span style="font-family: arial,helvetica,sans-serif; font-size: small;">To get in touch send an e-mail to marcelinolucianom@gmail.com</span></p>
<p style="text-align: left;"><em><br /></em></p>

<%= link_to 'New Words', new_word_path %> |
<%= link_to 'Database', words_path %>
