<p align = "center"><span style="font-size: medium; font-family: arial,helvetica,sans-serif;">DBD Anagrams Detector</p>

<%= render 'form' %>

<%= link_to 'Database', words_path %> |
<%= link_to 'Readme', pages_readme_path %>
</span>
